.container {
	position: relative;
	margin: 0 auto;
	width: 1190px;
}
.icon-common {
	background-image: url(../images/icon-common.png);
	background-repeat: no-repeat;
}
.hot a:link, .hot a:visited, .openBuy a:link, .openBuy a:visited {
	color: #aab2bd;
}
.hot a:hover, .openBuy a:hover{
	color: #000;
	text-decoration: underline;
}