.wrap {
	text-align: center;
	width: 100%;
}
/* S header */
.header {
	margin-bottom: 10px;
	height: 110px;
}
.header .top {
	position: relative;
	width: 1190px;
	height: 110px;
}
.header .top .logo {
	position: absolute;
	left: 0;
	top: 30px;
	height: 61px;
}
.header .top .logo .logo-iconCommon-logo {
	width: 143px;
	height: 61px;
	background-position: 0 0;
}
.header .top .right {
	padding-top: 30px;
	height: 70px;
	width: 1190px;
}
.header .top .right .menu {
	float: right;
	padding: 15px 100px 0 0;
	width: 315px;
	height: 20px;
}
.header .top .right .menu ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 95px;
	height: 16px;
	border-right: 1px solid #ccd1d9;
}
.header .top .right .menu ul li #right-menu-lang {
	margin-right: 5px;
	background-position: -49px -70px;
}
.header .top .right .menu ul li #right-menu-lang span {
	padding-right: 25px;
	background-position: -40px -65px;
}
.header .top .right .menu ul li label a:hover {
	color: #F84858;
}
.header .top .right .menu ul li label i {
	width: 16px;
	height: 16px;
	vertical-align: -3px;
	*vertical-align: 0;
	*padding-right: 3px;
	background-position: -20px -65px;
}
.header .top .right .search {
	position: relative;
	float: right;
	margin-right: 100px;
	width: 370px;
	height: 77px;
}
.header .top .right .search .search-frame-input {
	float: left;
	margin-bottom: 10px;
	width: 364px;
	*height: 34px;
	min-height: 34px;
	line-height: 34px;
	border: 3px solid #dd4250;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #ccd1d9;
	text-indent: .5em;
}
.header .top .right .search .search-frame-btn {
	position: absolute;
	top: 3px;
	right: 9px;
	width: 36px;
	height: 34px;
	border: none;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
	text-indent: -9999px;
}
.header .top .right .search .search-frame-btnFocus {
	position: absolute;
	top: 10px;
	right: 16px;
	width: 17px;
	height: 18px;
	background-position: -223px -52px;
	cursor: pointer;
}
.header .top .right .search .hot {
	display: block;
	width: 364px;
	color: #aab2bd;
	text-align: left;
}
.header .top .right .search .hot a {
	margin-right: 10px;
}
.header .top .right .openBuy {
	position: absolute;
	top: 82px;
	right: 30px;
}
.header .top .right .openBuy a {
	padding-left: 20px;
	background-position: -300px -82px;
}
.header .top .right .openBuy a:hover {
	background-position: -2px -82px;
}
.header .top .right .carts {
	position: absolute;
	right: 6px;
	top: 33px;
	width: 108px;
	height: 40px;
	line-height: 40px;
}
.header .top .right .carts a i {
	margin: 0 8px -1px 0;
	width: 16px;
	height: 13px;
	background-position: -294px -53px ;
	*margin: 12px 8px 12px 0;
	*vertical-align: middle;
}
/* E header */
/* S nav */
.nav {
	position: relative;
	width: 1190px;
	height: 45px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	background: #dd4250;
}
.nav .clearfix .allWare {
	float: left;
	display: block;
	width: 230px;
	height: 45px;
	line-height: 43px;
	text-indent: -5em;
	cursor: pointer;
}
.nav .clearfix .allWare a {
	display: block;
	width: 230px;
	height: 45px;
}
.nav .clearfix ul li {
	float: left;
	height: 45px;
	line-height: 43px;
}
.nav .clearfix ul li a {
	display: inline-block;
	padding: 0 12px;
	height: 45px;
	text-align: center;
}
.nav .clearfix ul li.selected {
	background: #ed5466;
}
.nav .clearfix ul li:hover {
	background: #ed5466;
}
.nav .showList {
	position: absolute;
	top: 48px;
	*left: 0;
	width: 230px;
	height: 580px;
}
.nav .showList ul li {
	width: 230px;
	height: 40px;
	line-height: 39px;
	border-bottom: 1px solid #f4edd9;
	background: #fffbea;
	text-align: left;
	text-indent: 1.2em;
}
.nav .showList ul li a {
	display: block;
	width: 230px;
	height: 40px;
	cursor: pointer;
}
.nav .showList ul li a:link, .nav .showList ul li a:visited {
	color: #974c19;
}
/* E nav */